<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dog Cat Classifier</title>
</head>
<body>
    <h1>Dog Cat Classifier</h1>
    <input type="file" id="imageInput" accept="image/*">
    <button onclick="classifyImage()">Classify</button>
    <div id="result"></div>

    <script src="script.js"></script>
</body>
</html>
